.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

.footer {
    text-align: center;
}

.footer a {
    text-decoration: none;
}

.inline-icon {
    vertical-align: bottom;
}